<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **45 to 60** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [ ]:
!pip install pandas

### Step 1: Import Required Libraries

In [1]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

#### **Read Data**

If you are using JupyterLite, use the code below to download the dataset into your environment. If you are using a local environment, you can use the direct URL with <code>pd.read_csv()</code>.

In [ ]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

# Define the file path for the data
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Download the dataset
await download(file_path, "survey_data.csv")
file_name = "survey_data.csv"

**Load the data into a pandas dataframe:**

In [38]:
file_name=r"C:\Users\21650\Downloads\survey_data.csv"
df = pd.read_csv(file_name)

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

##### df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [39]:
cols = ["MainBranch", "Employment", "RemoteWork","Country", "YearsCode", "DevType","CompTotal","WorkExp","EdLevel"]
df[cols].value_counts().reset_index(name="count").head(10)

,MainBranch,Employment,RemoteWork,Country,YearsCode,DevType,CompTotal,WorkExp,EdLevel,count
0,I am a developer by profession,"Employed, full-time",Remote,United States of America,12,"Developer, full-stack",110000.0,7.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3
1,I am a developer by profession,"Employed, full-time",In-person,India,4,"Developer, full-stack",500000.0,1.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
2,I am a developer by profession,"Employed, full-time",In-person,India,2,"Developer, full-stack",483000.0,2.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
3,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Poland,9,"Developer, full-stack",250000.0,17.0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",2
4,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Canada,12,"Developer, back-end",90000.0,6.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Philippines,6,DevOps specialist,300000.0,2.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
6,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",United States of America,14,"Developer, back-end",200000.0,10.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
7,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",India,15,"Developer, mobile",3500000.0,11.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
8,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Canada,8,"Developer, full-stack",80000.0,4.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2
9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",United Kingdom of Great Britain and Northern I...,5,"Developer, full-stack",30000.0,1.0,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2

In [40]:
# your code goes here
cols = ["MainBranch", "Employment", "RemoteWork","Country", "YearsCode", "DevType","CompTotal","WorkExp","EdLevel"]
dup_rows=df[df.duplicated(subset=cols)]
print(f"There are {len(dup_rows)} duplicate rows.")
dup_rows.head()

There are 7240 duplicate rows.

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
366,367,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,...,60.0,30.0,10.0,0.0,0.0,0.0,Appropriate in length,Easy,NaN,5.0
911,912,I am a developer by profession,45-54 years old,"Independent contractor, freelancer, or self-em...",In-person,Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",Books / Physical media;Colleague;Other online ...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,76307.0,NaN
970,971,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
1072,1073,I am a developer by profession,55-64 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Professional development or self-paced learnin...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;On the job training;Oth...,Technical documentation;Books;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
1428,1429,I am learning to code,Under 18 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Books;Stack Overflow;How-to videos;Video-based...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [41]:
# your code goes here
a=len(df)
df.drop_duplicates(subset=cols,inplace=True)
b=len(df)
print("Number of duplicate rows removed:", a-b)

Number of duplicate rows removed: 7240

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [46]:
# your code goes here
for col in df.columns.values.tolist():
    print(f"column: {col}\nmissing values: {df[col].isna().sum()}\n\n")

column: ResponseId
missing values: 0


column: MainBranch
missing values: 0


column: Age
missing values: 0


column: Employment
missing values: 0


column: RemoteWork
missing values: 8052


column: Check
missing values: 0


column: CodingActivities
missing values: 8058


column: EdLevel
missing values: 256


column: LearnCode
missing values: 477


column: LearnCodeOnline
missing values: 11163


column: TechDoc
missing values: 18876


column: YearsCode
missing values: 792


column: YearsCodePro
missing values: 7882


column: DevType
missing values: 1188


column: OrgSize
missing values: 11569


column: PurchaseInfluence
missing values: 11632


column: BuyNewTool
missing values: 13775


column: BuildvsBuy
missing values: 15496


column: TechEndorse
missing values: 15149


column: Country
missing values: 1508


column: Currency
missing values: 12171


column: CompTotal
missing values: 24561


column: LanguageHaveWorkedWith
missing values: 2271


column: LanguageWantToWorkWith
missing values: 5922


column: LanguageAdmired
missing values: 10321


column: DatabaseHaveWorkedWith
missing values: 10813


column: DatabaseWantToWorkWith
missing values: 17940


column: DatabaseAdmired
missing values: 21604


column: PlatformHaveWorkedWith
missing values: 18106


column: PlatformWantToWorkWith
missing values: 25473


column: PlatformAdmired
missing values: 28384


column: WebframeHaveWorkedWith
missing values: 15575


column: WebframeWantToWorkWith
missing values: 21731


column: WebframeAdmired
missing values: 25069


column: EmbeddedHaveWorkedWith
missing values: 37389


column: EmbeddedWantToWorkWith
missing values: 41671


column: EmbeddedAdmired
missing values: 42466


column: MiscTechHaveWorkedWith
missing values: 20753


column: MiscTechWantToWorkWith
missing values: 26858


column: MiscTechAdmired
missing values: 30046


column: ToolsTechHaveWorkedWith
missing values: 8290


column: ToolsTechWantToWorkWith
missing values: 14292


column: ToolsTechAdmired
missing values: 16252


column: NEWCollabToolsHaveWorkedWith
missing values: 3425


column: NEWCollabToolsWantToWorkWith
missing values: 8598


column: NEWCollabToolsAdmired
missing values: 9874


column: OpSysPersonal use
missing values: 2885


column: OpSysProfessional use
missing values: 7522


column: OfficeStackAsyncHaveWorkedWith
missing values: 11965


column: OfficeStackAsyncWantToWorkWith
missing values: 20670


column: OfficeStackAsyncAdmired
missing values: 22362


column: OfficeStackSyncHaveWorkedWith
missing values: 5050


column: OfficeStackSyncWantToWorkWith
missing values: 13450


column: OfficeStackSyncAdmired
missing values: 15366


column: AISearchDevHaveWorkedWith
missing values: 15767


column: AISearchDevWantToWorkWith
missing values: 23155


column: AISearchDevAdmired
missing values: 24265


column: NEWSOSites
missing values: 1604


column: SOVisitFreq
missing values: 2244


column: SOAccount
missing values: 2221


column: SOPartFreq
missing values: 15315


column: SOHow
missing values: 2594


column: SOComm
missing values: 2374


column: AISelect
missing values: 1521


column: AISent
missing values: 15764


column: AIBen
missing values: 24108


column: AIAcc
missing values: 23688


column: AIComplex
missing values: 23905


column: AIToolCurrently Using
missing values: 25360


column: AIToolInterested in Using
missing values: 29409


column: AIToolNot interested in Using
missing values: 35262


column: AINextMuch more integrated
missing values: 45533


column: AINextNo change
missing values: 46377


column: AINextMore integrated
missing values: 35118


column: AINextLess integrated
missing values: 56057


column: AINextMuch less integrated
missing values: 57141


column: AIThreat
missing values: 16053


column: AIEthics
missing values: 18747


column: AIChallenges
missing values: 22264


column: TBranch
missing values: 14277


column: ICorPM
missing values: 28592


column: WorkExp
missing values: 28732


column: Knowledge_1
missing values: 29695


column: Knowledge_2
missing values: 30332


column: Knowledge_3
missing values: 30260


column: Knowledge_4
missing values: 30323


column: Knowledge_5
missing values: 30472


column: Knowledge_6
missing values: 30486


column: Knowledge_7
missing values: 30570


column: Knowledge_8
missing values: 30591


column: Knowledge_9
missing values: 30711


column: Frequency_1
missing values: 29994


column: Frequency_2
missing values: 30001


column: Frequency_3
missing values: 30648


column: TimeSearching
missing values: 29466


column: TimeAnswering
missing values: 29531


column: Frustration
missing values: 30116


column: ProfessionalTech
missing values: 30590


column: ProfessionalCloud
missing values: 29881


column: ProfessionalQuestion
missing values: 29569


column: Industry
missing values: 29519


column: JobSatPoints_1
missing values: 29061


column: JobSatPoints_4
missing values: 28992


column: JobSatPoints_5
missing values: 28974


column: JobSatPoints_6
missing values: 28935


column: JobSatPoints_7
missing values: 28937


column: JobSatPoints_8
missing values: 28930


column: JobSatPoints_9
missing values: 28930


column: JobSatPoints_10
missing values: 28936


column: JobSatPoints_11
missing values: 28941


column: SurveyLength
missing values: 4051


column: SurveyEase
missing values: 3993


column: ConvertedCompYearly
missing values: 34810


column: JobSat
missing values: 29255

In [ ]:
mode=df["EdLevel"].value_counts().idxmax()
df["EdLevel"].fillna(mode,inplace=True)
print(df["EdLevel"].isna().sum())

np.int64(0)

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [ ]:
# your code goes here

In [61]:
df["ConvertedCompYearly"].describe()

count    2.338700e+04
mean     8.613105e+04
std      1.869297e+05
min      1.000000e+00
25%      3.269600e+04
50%      6.500000e+04
75%      1.079370e+05
max      1.625660e+07
Name: ConvertedCompYearly, dtype: float64

In [64]:
print("missing values:",df["ConvertedCompYearly"].isna().sum())

missing values: 34810

In [92]:
df["ConvertedCompYearly"].fillna(df["ConvertedCompYearly"].median(),inplace=True)

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>